* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #1b1924;
}

header,
main {
  width: 320px;
  margin: 1em auto;
}

header {
  text-align: center;
}

header h1 {
  color: #ffffff;
}

header img {
  width: 120px;
}

main textarea {
  resize: none;
  width: 100%;
  height: 100px;
  padding: 1em;
  background-color: #444059;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 1rem;
}

main input {
  padding: 1em;
  background-color: #444059;
  border: none;
  width: 48%;
  border-radius: 8px;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
}

main button {
  width: 100%;
  margin-top: 0.7em;
  padding: 0.8em;
  font-weight: 700;
  font-size: 1.3rem;
  background-color: #28a9f1;
  color: #000000;
  border-radius: 8px;
}

main textarea::placeholder {
  color: #ccc3c3;
  font-size: 1rem;
}

main input::placeholder {
  color: #ccc3c3;
  font-size: 1rem;
  text-align: center;
}

.input-container {
  margin-top: 0.3em;
  display: flex;
  justify-content: space-between;
}

section {
  margin: 1em auto;
  padding-bottom: 1em;
}

section h1 {
  color: #ffffff;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin-top: 1em;
  padding: 0.5em;
  list-style: none;
  background-color: #82d3ff;
  border-radius: 8px;
}

i {
  cursor: pointer;
}

li h3,
.message-text {
  margin-top: 0.8em;
  margin-left: 0.5em;
}

.name-like-and-count-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-and-count-section {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 0.5em;
}

.count-likes {
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 0.07em;
  font-size: 1.4rem;
}

.fa-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.empty-message {
  font-size: 1.4rem;
  text-align: center;
  color: #82d3ff;
}
